*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
#git token Expires on Mon, Sep 25 2023 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